<div class="container">
  <div class="row">
    <%= form_with url: corpus_search_url, method: :get do |form| %>
      <div class="mb-3">
        <%= form.label :term, 'Search term:', class: 'form-label' %>
        <%= form.text_field :term, class: 'form-control' %>
      </div>
      <div class="mb-3">
        <%= form.submit 'Search', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>